<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Admin - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
	<link rel="shortcut icon" href="img/favicon.ico" />
    <!-- styles -->
    <link href="css/bootstrap.css" rel="stylesheet" />
	<link href="css/bootstrap-responsive.css" rel="stylesheet" />
	<link href="css/content.css" rel="stylesheet" />
</head>
<body>
	<header>
        <div class="container">
            <a class="logo" href="#"><img src="img/logo.png" alt="APPOTA" /></a>
            <div class="menu pull-right">
                <a href="#">APPOTA</a>
                |
                <a href="#">Đăng xuất</a>
                (<span style="color:#d9251d;">ps.hailt</span>)
            </div>
    	</div><!--container-->
    </header><!--header-->
    <div class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">APPOTA</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Giao dịch<b class="caret"></b></a>
                        	<ul class="dropdown-menu">
                            	<li><a href="#">Hoá đơn</a></li>
                            </ul>
                        </li>
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<b class="caret"></b></a>
                        	<ul class="dropdown-menu">
                            	<li><a href="#">Menu trang chủ</a></li>
                                <li><a href="#">Menu tin tức</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sản phẩm<b class="caret"></b></a>
                        	<ul class="dropdown-menu">
                            	<li><a href="#">Sản phẩm</a></li>
                                <li><a href="#">Danh mục</a></li>
                                <li><a href="#">Thương hiệu</a></li>
                                <li><a href="#">Nhà cung cấp</a></li>
                                <li><a href="#">Cam kết bán hàng</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Tin tức<b class="caret"></b></a>
                        	<ul class="dropdown-menu">
                            	<li><a href="#">Tin tức</a></li>
                                <li><a href="#">Danh mục tin tức</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Marketing<b class="caret"></b></a>
                        	<ul class="dropdown-menu">
                            	<li><a href="#">Banner</a></li>
                                <li><a href="#">Trang khuyến mại</a></li>
                                <li><a href="#">Coupon</a></li>
                                <li><a href="#">Giảm giá</a></li>
                                <li><a href="#">Quà tặng</a></li>
                                <li><a href="#">Landing khuyến mại</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Support<b class="caret"></b></a>
                        	<ul class="dropdown-menu">
                            	<li><a href="#">Danh sách khách hàng</a></li>
                                <li><a href="#">Liên hệ</a></li>
                                <li><a href="#">Danh mục hỏi đáp</a></li>
                                <li><a href="#">Hỏi đáp</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Người dùng<b class="caret"></b></a>
                        	<ul class="dropdown-menu">
                            	<li><a href="#">Danh sách người dùng</a></li>
                                <li><a href="#">Quản lý phân quyền</a></li>
                                <li><a href="#">Nhóm người dùng</a></li>
                                <li><a href="#">Danh sách quyền</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hệ thống<b class="caret"></b></a>
                        	<ul class="dropdown-menu">
                            	<li><a href="#">Quản lý file upload</a></li>
                                <li><a href="#">Xóa cache hệ thống</a></li>
                                <li><a href="#">Map danh mục</a></li>
                                <li><a href="#">Danh sách người bán</a></li>
                            </ul>
                        </li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
    </div><!--navbar-->
    <div class="container">
        <section class="admin-dashboard">
            <div class="row-fluid show-grid">
                <div class="span4">
                	<div class="adminbox color-0">
                    	<div class="admin-shadow">
                        	<span class="admin-icon"><img src="img/icons/icon-sysn.png" alt="system" /></span>
                            <div class="admin-contentlist">
                            	<h2>Giao dịch</h2>
                                <ol>
                                	<li><a href="#">Hoá đơn</a></li>
                                </ol>
                            </div>
                        </div>
                   </div><!--adminbox--> 
                </div><!--span4--> 
                <div class="span4">
                	<div class="adminbox color-1">
                    	<div class="admin-shadow">
                        	<span class="admin-icon"><img src="img/icons/icon-list.png" alt="system" /></span>
                            <div class="admin-contentlist">
                            	<h2>Menu</h2>
                                <ol>
                                	<li><a href="#">Menu trang chủ</a></li>
                                    <li><a href="#">Menu tin tức</a></li>
                                </ol>
                            </div>
                        </div>
                   </div><!--adminbox--> 
                </div><!--span4-->
                <div class="span4">
                	<div class="adminbox color-2">
                    	<div class="admin-shadow">
                        	<span class="admin-icon"><img src="img/icons/icon-product.png" alt="system" /></span>
                            <div class="admin-contentlist">
                            	<h2>Sản phẩm</h2>
                                <ol>
                                	<li><a href="#">Sản phẩm</a></li>
                                    <li><a href="#">Danh mục</a></li>
                                    <li><a href="#">Thương hiệu</a></li>
                                    <li><a href="#">Nhà cung cấp</a></li>
                                    <li><a href="#">Cam kết bán hàng</a></li>
                                </ol>
                            </div>
                        </div>
                   </div><!--adminbox--> 
                </div><!--span4-->
            </div><!--row-fluid-->
            <div class="row-fluid show-grid">
                <div class="span4">
                	<div class="adminbox color-3">
                    	<div class="admin-shadow">
                        	<span class="admin-icon"><img src="img/icons/icon-news.png" alt="system" /></span>
                            <div class="admin-contentlist">
                            	<h2>Tin tức</h2>
                                <ol>
                                	<li><a href="#">Danh mục tin tức</a></li>
                                    <li><a href="#">Hoá đơn</a></li>
                                </ol>
                            </div>
                        </div>
                   </div><!--adminbox--> 
                </div><!--span4--> 
                <div class="span4">
                	<div class="adminbox color-4">
                    	<div class="admin-shadow">
                        	<span class="admin-icon"><img src="img/icons/icon-marketing.png" alt="system" /></span>
                            <div class="admin-contentlist">
                            	<h2>Marketing</h2>
                                <ol>
                                	<li><a href="#">Banner</a></li>
                                    <li><a href="#">Trang khuyến mại</a></li>
                                    <li><a href="#">Coupon</a></li>
                                    <li><a href="#">Giảm giá</a></li>
                                    <li><a href="#">Quà tặng</a></li>
                                    <li><a href="#">Landing khuyến mại</a></li>
                                </ol>
                            </div>
                        </div>
                   </div><!--adminbox--> 
                </div><!--span4-->
                <div class="span4">
                	<div class="adminbox color-5">
                    	<div class="admin-shadow">
                        	<span class="admin-icon"><img src="img/icons/icon-support.png" alt="system" /></span>
                            <div class="admin-contentlist">
                            	<h2>Support</h2>
                                <ol>
                                	<li><a href="#">Danh sách khách hàng</a></li>
                                    <li><a href="#">Liên hệ</a></li>
                                    <li><a href="#">Danh mục hỏi đáp</a></li>
                                    <li><a href="#">Hỏi đáp</a></li>
                                </ol>
                            </div>
                        </div>
                   </div><!--adminbox--> 
                </div><!--span4-->
            </div><!--row-fluid-->
            <div class="row-fluid show-grid">
                <div class="span4">
                	<div class="adminbox color-6">
                    	<div class="admin-shadow">
                        	<span class="admin-icon"><img src="img/icons/icon-user.png" alt="system" /></span>
                            <div class="admin-contentlist">
                            	<h2>Người dùng</h2>
                                <ol>
                                	<li><a href="#">Danh sách người dùng</a></li>
                                    <li><a href="#">Quản lý phân quyền</a></li>
                                    <li><a href="#">Nhóm người dùng</a></li>
                                    <li><a href="#">Danh sách quyền</a></li>
                                </ol>
                            </div>
                        </div>
                   </div><!--adminbox--> 
                </div><!--span4--> 
                <div class="span4">
                	<div class="adminbox color-7">
                    	<div class="admin-shadow">
                        	<span class="admin-icon"><img src="img/icons/icon-system.png" alt="system" /></span>
                            <div class="admin-contentlist">
                            	<h2>Hệ thống</h2>
                                <ol>
                                	<li><a href="#">Quản lý file upload</a></li>
                                    <li><a href="#">Xoá cache hệ thống</a></li>
                                    <li><a href="#">Map danh mục</a></li>
                                    <li><a href="#">Danh sách người bán</a></li>
                                </ol>
                            </div>
                        </div>
                   </div><!--adminbox--> 
                </div><!--span4-->
            </div><!--row-fluid-->
        </section><!--admin-dashboard-->
		<hr />
		<footer>
			<p>&copy; APPOTA 2013</p>
		</footer>
    </div> <!--container-->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>
