<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Admin - Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
	<link rel="shortcut icon" href="img/favicon.ico" />
    <!-- styles -->
    <link href="css/bootstrap.css" rel="stylesheet" />
	<link href="css/bootstrap-responsive.css" rel="stylesheet" />
	<link href="css/content.css" rel="stylesheet" />
</head>
<body>
	<header>
        <div class="container">
            <a class="logo" href="#"><img src="img/logo.png" alt="APPOTA" /></a>
            <div class="menu pull-right">
                <a href="#">Đăng nhập</a>
                |
                <a href="#">APPOTA</a>
            </div>
        </div><!--container-->
    </header><!--header-->
    <div class="container">
    	<div class="form-signin">
            <form>
                <h3 class="form-signin-heading">Đăng nhập</h3>
                <input type="text" class="input-block-level" placeholder="Tài khoản" />
                <input type="password" class="input-block-level" placeholder="Mật khẩu" />
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Nhớ mật khẩu
                </label>
                <button class="btn btn-primary" type="submit">Đăng nhập</button>
            </form>
        </div><!--form-signin-->
    </div> <!-- /container -->
	
		<hr />
		<footer>
			<p>&copy; APPOTA 2013</p>
		</footer>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>
