input.btn{
        background: #14afda;
        color:#fff;
        text-shadow: 0 1px 0 rgba(0,0,0,2);
    }
fieldset{
       border-radius:8px;
       -webkit-border-radius:8px; 
       -moz-border-radius:8px;
       border:1px solid #0097CC;
       margin: 0px 8px 8px 8px;
       padding: 5px;
    }
    legend{
       color: #0097CC; 
    }
    #receiver_fieldset{
        width: 450px;
        float: left;
        height: 150px;
    }
    #receiver_number_fieldset{
        width: 600px;
        height: 150px;
        padding-left: 20px;
    }
th{
    font-weight: bold;
    
}
.ui-datepicker-calendar{
    width: 190px;
}
#ui-datepicker-div{
    background-color: antiquewhite;
}
#pagination_nav{
    width: 145px;
    margin-left: 400px;
    margin-top: 20px;
}
#pagination_nav ul{
    list_style:none;
}
#pagination_nav li{
    display:inline; 
    padding: 8px 8px;
    border:1px solid;
    color:#555;
    margin-left:3px;
    font-size: 1.1em;
    width:35px;
}

#pagination{
    width:455px;                                                                          
    height:20px;
}
#pagination_nav li a{
    text-decoration: none;
    
}   

.btn-primary-del{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary-del:hover,
.btn-primary-del:active,
.btn-primary-del.active,
.btn-primary-del.disabled,
.btn-primary-del[disabled]{
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}



